:root{
    --black: #311F09;
    --orange: #FF8A00;
    --green: #3FA72F;
}

body, html{
    font-family: "Poppins", sans-serif;
    font-size: 20px;
    margin: 0;
    padding: 0;
    scroll-behavior: smooth;

}

*{
    box-sizing: border-box;
}
.container{
    max-width: 1237px;
    margin: 0px auto;

}

/* header */
header{
    margin-top: 51px;
}
.header-content{
    
    display: flex;
    justify-content: space-between;
    align-items: center;

}
.header-content-last{
    display: flex;
    align-items: center;
}
.header-content-last a:last-of-type {
background-color: var(--green);
text-decoration: none;
color: #fff;
padding: 15px 34px;
border-radius: 133px;

transition: background-color .4s ease ;
}

.header-content-last a:last-of-type:hover{
    background-color: var(--orange);
}

.header-content-last img{
    margin-right: 25px;
}

nav a{
    text-decoration: none;
    margin-right: 45px;
    color: var(--black);
    display: inline-block;
    
    transition: all .4s ease;
}

nav a:hover{
    color: var(--orange);
    transform: scale(1.05);
}
nav a:last-of-type{
    margin-right: 0;
}

nav a.checked{
    color: var(--orange);
}